.dashboard{

    margin-left:15%;
    margin-top: 8%;
    gap:10px;
  }
  .header-1{
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-left:1%;
    direction: flex;
    flex-direction: column;
    font-style: Kumbh Sans;
    color:  #4F4F4F;
    ;
  }
  .title2{
    text-align: center;
    align-items: center;
    margin-left:1%;
    direction: flex;
    flex-direction: column;
    
  
  }
  .header{
    color: grey;
  }
  .title{
    margin-top: 0px;
  }
  .list--item{
    color: rgb(94, 92, 92);
    text-decoration: none;
  }
  .list{
    text-align: left;
    margin-left: 24%;
    direction: flex;
    flex-direction: row;
    display: flex;
    margin-top: 0.001%;
    gap: 12px;
    
    
  }

  .items{
    margin-left: 27.53%;
    margin-top: -38px;
    justify-content: center;
    
  }

  .view{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  img{
    width:auto;
    height: 1.8rem;
  }
  .logo1{
    margin-top: 10px;

  }