.student{
  display:flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  
}
  .Add{
    margin-top: 15px;
    padding: 1px;
    margin-left: 20%;
  }

  button{
    background-color:  #509CDB;
    gap:16px;
    border: none;
    height: 41px;
    width: 117px;
    border-radius: 6px;
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 20%;

  }
  table {
    
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    color: #424242;
    font-style: Kumbh Sans;
    margin-left: 19.5%;
    font-size: 13px;
    border-spacing: 40px;
    border-collapse: collapse;
    margin-top: 10%;
    
    
  }
  .pop{
    margin-top: 40px;
    border-spacing: 50px;
    justify-content: space-between;
    margin-left: -123.50%;
    position: relative;
    
    

  }

  .table-header thead {
    margin-left: -55%;
  }
  
  
.table-header thead tr th{
  border-spacing: 40px;
  padding-right: 50px;
  justify-content: space-between;
}

.pop  tbody tr td  {
  border-top: 12px;
  border-bottom: 1px solid #dddddd;
  border-spacing: 20px;
  height:40px;
  width: 80px;
 
}




.pop tbody tr:hover{
  background-color: #509CDB;
  border-radius: 20px;
   color: aliceblue;
   
}

.card0{
  background: #509CDB;;
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 260px;
  border-radius: 10px;
   margin-left: 70%;
  margin-top: 10%;
  color: aliceblue;
  position:fixed;
  
}

.card0 p{
  margin-left: 1%;
  text-align: center;
}
.card0 h2{
  
  text-align: center;
  font-size: 24px;
  font-style: Kumbh Sans;
  margin-top: 30Px;
  

}

.card1 h3{
  
  text-align: center;
  font-style: Kumbh Sans;
  font-size: 16px;
}
.con{
  display: flex;
  flex-direction: row;
  margin-left: 33%;
  margin-top: -10%;
  position: static;
}
.Edit button {
  background-color: aliceblue;
  color: #424242;
  margin-left: -1005%;
  margin-top: 640%;
  
  width: 100px;
  height: 41px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  justify-content: center;
  margin-bottom: -4.5%;
  position: relative;
   
}
.Delete button {
  background-color: red ;
  color: aliceblue;
  margin-left: -995%;
  margin-top: 640%;
  width: 100px;
  height: 41px;
  position: relative
  ;
}


