  .Add{
    margin-top: 15px;
    padding: 1px;
  }

  button{
    background-color:  #509CDB;
    gap:16px;
    border: none;
    height: 41px;
    width: 117px;
    border-radius: 6px;
    color: aliceblue;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 20%;

  }
  table {
    
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    color: #424242;
    font-style: Kumbh Sans;
    margin-left: 19.5%;
    font-size: 13px;
    border-spacing: 40px;
    border-collapse: collapse;
    
  }
  .pop{
    margin-top: 40px;
    border-spacing: 60px;
    justify-content: space-between;
    margin-left: -100.50%;
    border-spacing: 20px;
    
    


    
  }
  
  
.table-header thead tr th{
  border-spacing: 40px;
  padding-right: 50px;
  justify-content: space-between;
}

.pop  tbody tr td  {
  border-top: 20px;
  border-bottom: 1px solid #dddddd;
  border-spacing: 20px;
  height:45px;
  width: 80px;
 
}
.table-header tbody tr {
  
  border-spacing: 20px;
  justify-content: space-between 40px;
}



.pop tbody tr:hover{
  background-color: #509CDB;
  border-radius: 20px;
   color: aliceblue;
   
}

.card0{
  background: #509CDB;;
  display: flex;
  flex-direction: column;
  height: 460px;
  width: 300px;
  border-radius: 10px;
   margin-left: 70%;
  margin-top: -17%;
  color: aliceblue;
  position: static;
}

.card0 p{
  margin-left: 1%;
  text-align: center;
}
.card0 h2{
  
  text-align: center;
  font-size: 24px;
  font-style: Kumbh Sans;
  margin-top: 30Px;
  

}

.card1 h3{
  
  text-align: center;
  font-style: Kumbh Sans;
  font-size: 16px;
}
.con{
  display: flex;
  flex-direction: row;
  margin-left: 39%;
  margin-top: -10%;
}
.Edit button {
  background-color: aliceblue;
  color: #424242;
  margin-left: 47%;
  margin-top: 65%;
  
  width: 100px;
  height: 41px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  justify-content: center;
  margin-bottom: -4.5%;
   
}
.Delete button {
  background-color: red;
  color: aliceblue;
  margin-left: 79%;
  margin-top: 65%;
  width: 100px;
  height: 41px;
}


